<h2>Add a defense:</h2>
<%= form_for([@character, @character.defenses.build]) do |f| %>
  <p>
    <%= f.label :def_type %>
    <%= f.text_field :def_type %>
  </p>
  <p>
    <%= f.label :value_normal %>
    <%= f.number_field :value_normal %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
