<%= form_for([@character, @character.char_attributes.build]) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.select(:base_attribute_id) do %>
        <% BaseAttribute.all.each do |base_attribute| %>
          <% if base_attribute.id > 11 %>
            <%= content_tag(:option, base_attribute.name, value: base_attribute.id) %>
         <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :value_base %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :value_modified %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Add", class: "btn btn-default btn-xs" %>
    </div>
  </div>
<% end %>
