<h2>Attributes</h2>

  <%= form_for(@character) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.fields_for :char_attributes do |f2| %>
      <% if f2.object.base_attribute_id != 9 && !f2.object.base_attribute_id.nil? %>
        <div class="row">
          <div class="col-md-4">
            <%= f2.label "#{BaseAttribute.find(f2.object.base_attribute_id).name}" %>
          </div>
          <div class="col-md-3">
              <% f2.object.value_base = f2.object.value_base.to_i %>
              <%= f2.number_field :value_base, in: 1..18, step: 1 %>
          </div>
          <div class="col-md-3">
            <%= f2.number_field :value_modified, in: 1..18, step: 1 %>
          </div>
          <div class="col-md-2">
            <% if f2.object.base_attribute_id > 11 %>
              <% char_attribute = CharAttribute.find(f2.object.id) %>
              <%= link_to 'Delete', [char_attribute.character, char_attribute],
                method: :delete,
                class: "btn btn-default btn-xs",
                data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% elsif !f2.object.base_attribute_id.nil? %>
        <div class="row">
          <div class="col-md-4">
            <%= f2.label "#{BaseAttribute.find(f2.object.base_attribute_id).name}" %>
          </div>
          <div class="col-md-3">
              <%= f2.number_field :value_base, in: 0..18, step: 0.01%>
          </div>
          <div class="col-md-3">
            <%= f2.number_field :value_modified, in: 0..18, step: 0.01 %>
            </section>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'char_attributes/add_char_attribute_form' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Update Attributes", class: "btn btn-default btn-xs" %>
      </div>
      <div class="col-md-6">
        <%= f.submit "Cancel", class: "btn btn-default btn-xs" %>
      </div>
    </div>

  <% end %>
