<h2>Attributes</h2>

<%= form_for(@character) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.fields_for :char_attributes do |f2| %>
    <div class="row">
      <div class="col-md-12">
        <%= f2.label "#{BaseAttribute.find(f2.object.base_attribute_id).name}" %>
      </div>
    </div>
    <% if f2.object.base_attribute_id != 9 && !f2.object.base_attribute_id.nil? %>
      <div class="row">
        <div class="col-md-3">
          <section class="character_form">
            <%= f2.label :value_base, "Base"%>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
            <% f2.object.value_base = f2.object.value_base.to_i %>
            <%= f2.number_field :value_base, in: 1..6, step: 1 %>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
          <%= f2.label :value_base, "Modified"%>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
          <%= f2.number_field :value_modified, in: 1..6, step: 1 %>
          </section>
        </div>
      </div>
    <% elsif !f2.object.base_attribute_id.nil? %>
      <div class="row">
        <div class="col-md-12">
          <%= BaseAttribute.find(f2.object.base_attribute_id).name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <section class="character_form">
            <%= f2.label :value_base, "Base"%>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
            <%= f2.number_field :value_base, in: 0..6, step: 0.01%>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
          <%= f2.label :value_base, "Modified"%>
          </section>
        </div>
        <div class="col-md-3">
          <section class="character_form">
          <%= f2.number_field :value_modified, in: 0..6, step: 0.01 %>
          </section>
        </div>
      </div>
    <% end %>

  <% end %>

  <%= f.submit "Update Attributes", class: "btn btn-default col-md-6 col-md-offset-3  col-md-6 col-md-offset-3 " %>
  <%= f.submit "Cancel", class: "btn btn-default col-md-6 col-md-offset-3 " %>
<% end %>
