<h2>Attributes</h2>

<% @character.char_attributes.each do |char_attribute| %>
  <div class="col-md-4">
    <strong><%= att_name = BaseAttribute.find(char_attribute.base_attribute_id).name %></strong>:
    <% if char_attribute.base_attribute_id == 3 %>
      <% if !char_attribute.value_modified.nil? && char_attribute.value_modified >= char_attribute.value_base %>
        <% @reaction = char_attribute.value_modified %>
      <% else %>
        <% reaction = char_attribute.value_base %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if char_attribute.value_base == char_attribute.value_modified || char_attribute.value_modified.nil? %>
      <% if att_name == "Essence" %>
        <%= char_attribute.value_base %>
      <% else %>
        <%= char_attribute.value_base.to_i %><%= "d6 + #{@reaction.to_i}" if char_attribute.base_attribute_id == 11 %>
      <% end %>
    <% else %>
      <%= char_attribute.value_base.to_i %>/<%= char_attribute.value_modified.to_i %>
    <% end %>
  </div>
  <br>
<% end %>
