<h2>Attributes</h2>

<% if can_edit %>
  <%= form_for(@character) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.fields_for :char_attributes do |f2| %>
      <div class="row">
        <div class="col-md-9">
          <%= f2.label "#{BaseAttribute.find(f2.object.base_attribute_id).name}" %>
        </div>
        <div class="col-md-3">
          <% if f2.object.base_attribute_id > 11 %>
            <% char_attribute = CharAttribute.find(f2.object.id) %>
            <%= link_to 'Delete', [char_attribute.character, char_attribute],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <% if f2.object.base_attribute_id != 9 && !f2.object.base_attribute_id.nil? %>
        <div class="row">
          <div class="col-md-3">
            <section class="character_form">
              <%= f2.label :value_base, "Base"%>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
              <% f2.object.value_base = f2.object.value_base.to_i %>
              <%= f2.number_field :value_base, in: 1..18, step: 1 %>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
            <%= f2.label :value_modified, "Modified"%>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
            <%= f2.number_field :value_modified, in: 1..18, step: 1 %>
            </section>
          </div>
        </div>
      <% elsif !f2.object.base_attribute_id.nil? %>
        <div class="row">
          <div class="col-md-3">
            <section class="character_form">
              <%= f2.label :value_base, "Base"%>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
              <%= f2.number_field :value_base, in: 0..18, step: 0.01%>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
            <%= f2.label :value_base, "Modified"%>
            </section>
          </div>
          <div class="col-md-3">
            <section class="character_form">
            <%= f2.number_field :value_modified, in: 0..18, step: 0.01 %>
            </section>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= f.submit "Update Attributes", class: "btn btn-default col-md-6 col-md-offset-3  col-md-6 col-md-offset-3 " %>
    <%= f.submit "Cancel", class: "btn btn-default col-md-6 col-md-offset-3 " %>
  <% end %>
<% else %>
  <% @character.char_attributes.each do |char_attribute| %>
    <div class="col-md-4">
      <strong><%= att_name = BaseAttribute.find(char_attribute.base_attribute_id).name %></strong>:
      <% if char_attribute.base_attribute_id == 3 %>
        <% if !char_attribute.value_modified.nil? && char_attribute.value_modified >= char_attribute.value_base %>
          <% @reaction = char_attribute.value_modified %>
        <% else %>
          <% reaction = char_attribute.value_base %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if char_attribute.value_base == char_attribute.value_modified || char_attribute.value_modified.nil? %>
        <% if att_name == "Essence" %>
          <%= char_attribute.value_base %>
        <% else %>
          <%= char_attribute.value_base.to_i %><%= "d6 + #{@reaction.to_i}" if char_attribute.base_attribute_id == 11 %>
        <% end %>
      <% else %>
        <%= char_attribute.value_base.to_i %>/<%= char_attribute.value_modified.to_i %>
      <% end %>
    </div>
    <br>
  <% end %>
  <p>
<% end %>
