<li id="character-<%= character.id %>">
  <%= link_to gravatar_for(character.user, size: 40), character.user %>
  <span class="character">
    <%= link_to character.name, character_path(character) %>
    <%= character.description %>
  </span>
  <% if current_user?(character.user) %>
    <span class="character">
      <%= link_to "edit", edit_character_path(character) %>
      <%= link_to "delete", character, method: :delete, data: { confirm: "Are you sure?" } %>
    </span>
  <% end %>
</li>
