<h2>Create New Character</h2>
<%= form_for(@character) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name your new character" %>

    <%= f.fields_for :character_detail do |f2| %>
      <%= f2.text_field :real_name, placeholder: "Real name" %>
    <% end %>

  </div>
  <%= f.submit "Save", class: "btn btn-default" %>
<% end %>
