<% if current_user?(@character.user) %>
  <% provide(:title, "Edit character") %>

  <div class="row">
    <%= render 'active_skills/java_test' %>
  </div>

  <h1>Edit your character</h1>

  <div class="row">
    <div class="col-md-12">
      <%= render 'characters/character_form', is_new: false  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'char_attributes/edit_char_attributes' %>
    </div>
    <div class="col-md-6">
      <%= render 'active_skills/edit_active_skills' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= render 'char_attributes/add_char_attribute_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'active_skills/add_active_skill_form'%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= render 'defenses/edit_defenses' %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= render 'defenses/add_defense_form'%>
    </div>
    <div class="col-md-6">
    </div>
  </div>
<% end %>
