<% provide(:title, "Edit character") %>
<h1>Edit your character</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@character) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= f.submit "Cancel", class: "btn btn-primary" %>
    <% end %>


    <section class="character_form">
      <%= render 'char_attributes/show_char_attributes', can_edit: true %>
    </section>

    <section class="character_form">
      <%= render 'char_attributes/char_attribute_form' %>
    </section>

    <section class="character_form">
      <%= render 'defenses/show_defenses', can_edit: true %>
    </section>

    <section class="character_form">
      <%= render 'defenses/defense_form' %>
    </section>

    <section class="character_form">
      <%= render 'active_skills/show_active_skills', can_edit: false %>
    </section>

    <section class="character_form">
      <%= render 'active_skills/active_skills_form'%>
    </section>
  </div>
</div>
