<h2>Add New Skill</h2>
<%= form_for([@character, @character.active_skills.build]) do |f| %>
  <%= f.label "Skill" %>
  <%= f.select(:base_skill_id) do %>
    <% BaseSkill.all.each do |base_skill| -%>
      <%= content_tag(:option, base_skill.name, value: base_skill.id) %>
    <% end %>
  <% end %>

  <p>
    <%= f.label "Rating" %>
    <%= f.number_field :value_base %>
  </p>
  <p>
    <%= f.submit "Add Skill", class: "btn btn-default" %>
  </p>
<% end %>
